.profile {
  background-color: white;
  padding: 15px 18px;
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.profile-img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: var(--grey-color);
}

.profile-info {
  display: flex;
  gap: 15px;
  color: #181818;
  text-align: left;
}

.profile-name {
  font-size: 17px;
  padding-bottom: 6px;
}

.profile-path {
  font-size: 14px;
  line-height: 16.1px;
  padding-right: 20px;
  padding-left: 12px;
  color: #464646;
  background: url("../../assets/icons/geo-profile.svg") no-repeat;
  background-position-y: 3px;
}

.profile-ratings {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: space-between;
  width: 91px;
}

.profile-message {
  background: var(--orange-color);
  width: 53px;
  height: 44px;
  border-radius: 10px;
}

.profile-stars {
  padding-left: 22px;
  background: url("../../assets/icons/star.svg") no-repeat;
}
.profile-comments {
  padding-left: 22px;
  background: url("../../assets/icons/comment.svg") no-repeat;
}

.profile-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-date {
  margin-top: 8px;
  color: #747474;
  font-size: 14px;
  line-height: 16.1px;
  background: url("../../assets/icons/profile-date.svg") no-repeat;
  padding-left: 22px;
}
