.input {
  padding: 17px 20px;
  background-color: inherit;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 14px;
  height: 50px;
  outline: none;
  width: 100%;
}

.input input {
  padding: 17px 21px;
  background-color: inherit;
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 14px;
  height: 50px;
  outline: none;
  width: 100%;
  position: relative;
}
.input.tel {
  position: relative;
}
.input.tel::after {
  content: "";
  right: 0;
  left: 69px;
  width: 1px;
  height: 34px;
  background: #dddd;
  position: absolute;
}

.PhoneInputCountryIconImg {
  position: relative;
  width: 25px;
  height: 18px;
}
