@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  --orange-color: #ef7828;
  --dark-color: #2c2c2c;
  --grey-color: #f6f6f6;

  color-scheme: light dark;
  color: #181818;
  background-color: #fff;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: var(--grey-color);
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.container-custom {
  max-width: 390px;
  margin: 0 auto;
}
