@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: none !important;
}
html::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html::-webkit-scrollbar-horizontal {
  height: 0;
  background: transparent;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
:root {
  --tg-safe-area-inset-top: 0px;
  --tg-safe-area-inset-bottom: 0px;
  --tg-safe-area-inset-left: 0px;
  --tg-safe-area-inset-right: 0px;

  --tg-content-safe-area-inset-top: 0px;
  --tg-content-safe-area-inset-bottom: 0px;
  --tg-content-safe-area-inset-left: 0px;
  --tg-content-safe-area-inset-right: 0px;
}

.container {
  max-width: 100%;
  box-sizing: border-box;
}

:root {
  font-family: Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  --orange-color: #ef7828;
  --dark-color: #2c2c2c;
  --grey-color: #f6f6f6;

  color-scheme: light dark;
  color: #181818;
  background-color: #fff;
}

#root {
  margin: 0 auto;
  text-align: center;
}
.main-container {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
.container-custom {
  max-width: 390px;
  margin: 0 auto;
  padding-top: 30px;
}

body {
  background-color: var(--grey-color);
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-upload__label {
  position: relative;
  display: block;
  width: 121px;
  height: 121px;
  background: #b9b9b9;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}

.img-upload__label.docs {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.img-upload__label::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 8px;
  width: 31px;
  height: 31px;
  background-color: var(--orange-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/icons/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.img-upload__label.docs::after {
  right: 0;
}

.change-file .img-upload__label {
  border: var(--orange-color) solid 2px;
}

.change-file .img-upload__label::after {
  content: "";
  position: absolute;

  bottom: 6px;
  right: 7.5px;
  width: 19px;
  height: 19px;

  background-image: url("./assets/icons/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.create .first .input:first-child {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.create .input {
  border-radius: 0;
  padding-left: 49px;
  border-bottom: none;
}

.create div {
  position: relative;
}

.create div::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 15px;
  left: 15px;
}

.create .geo::before {
  background: url("./assets/icons/geo-create.svg");
}

.create .btn {
  border-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.create .date::before {
  background: url("./assets/icons/calendar.svg");
}

.create .person::before {
  background: url("./assets/icons/user.svg");
}

.create .price::before {
  content: "₽";
  font-size: 24px;
  color: #2c2c2c;
  top: 12px;
  left: 15px;
}
.searchBig-container {
  width: 100%;
  padding: 0 20px;
}
.searchBig-wrapper {
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.searchBig-input {
  width: 100%;
  height: 60px;
  background: #efefef;
  color: #414141;
  font-size: 16px;
  line-height: 18.4px;
  border-radius: 8px;
  padding-left: 34px;
  padding-right: 54px;
}

.searchBig-input:focus {
  outline: none;
}

.searchBig-label {
  position: absolute;
  background: url("./assets/icons/geo-search.svg") center no-repeat;
  width: 24px;
  height: 24px;
  left: 30px;
  top: 18px;
}
.searchBig-close {
  position: absolute;
  background: url("./assets/icons/search.svg");
  width: 20px;
  height: 20px;
  right: 47px;
  top: 20px;
}

.backdrop-blur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
}

.PhoneInputCountryIcon--border {
  box-shadow: none !important;
  background-color: none !important;
}

.balance-bg {
  background: linear-gradient(103.17deg, #ef7828 3.53%, #ff990b 95.87%);
}
