@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, sans-serif;
  line-height: 1.15;
  font-weight: 400;
  --orange-color: #ef7828;
  --dark-color: #2c2c2c;
  --grey-color: #f6f6f6;

  color-scheme: light dark;
  color: #181818;
  background-color: #fff;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
} */
}
#root {
  margin: 0 auto;
  text-align: center;
}

.container-custom {
  max-width: 350px;
  margin: 0 auto;
}

body {
  background-color: var(--grey-color);
  max-width: 390px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-upload__label {
  position: absolute;

  top: 200px;
  left: 210px;

  width: 31px;
  height: 31px;

  font-size: 0;
  background-color: var(--orange-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.img-upload__label::after {
  content: "";
  position: absolute;

  top: 10px;
  left: 8px;

  width: 16px;
  height: 13px;

  background-image: url("./assets/icons/camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.change-file.img-upload__label {
  position: absolute;

  top: 96px;
  left: 95px;

  width: 30px;
  height: 30px;

  font-size: 0;
  background-color: var(--orange-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.change-file.img-upload__label::after {
  content: "";
  position: absolute;

  top: 6px;
  left: 7.5px;
  width: 15px;
  height: 15px;

  background-image: url("./assets/icons/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
